.button {
  cursor: pointer;
  display: flex;
  transition: all 0.2s;
  padding: 8px;

  &.filled {
    background: var(--grayLight);
    border: 1px solid var(--black);
    border-radius: 8px;

    &:active {
      background: var(--gray);
      transform: translateY(1px);
    }
  }

  &.transparent {
    background: transparent;

    &:hover {
      background: var(--grayLight);
      border-radius: 8px;
    }
  }
}
